body{
  margin: 5vh 0 20vh;
  background-color: #ffe8f0;
  font-family: 'Dosis', sans-serif;
}

h1{
  text-align: center;
  padding-bottom: 5vh;
}

#svg-object{
  height: 70vh;
  width: 100%;
  margin: auto;
  background-size: cover;
  background-position: center center;
}
